<section class="card">
  <a href="/post/{{id}}">
    <p><b>Title:      </b>{{title}}</p>
    <p><b>Posted By:  </b>{{user.username}}</p>
    <p><b>Created On: </b>{{format_date_local date_created}}</p>
  </a>
</section>