<section class="container">
  <h4 class="post-title">Title: {{post.title}}</h4>
  
  <p><b>Created: </b>{{format_date_local post.date_created}}</p>
  <!-- If user is logged in, render post content -->
  {{#if loggedIn}}
  <p><b>Contents: </b>{{post.content}}</p>
  {{else}}
  <a href="/login">You must login to view this content.</a>
  {{/if}}
</section>
<!-- Otherwise, provide a link to login -->